{% extends 'accounts/main.html' %}

{% block content %}
<div class="row mt-3 ">
    <div class="col-md-4">

        <div class="card card-body" >
            <h5>Customer:<span>{{customer.name}}</span></h5>
            <hr>
            <button class="btn btn-primary" type="submit">Update Customer</button>
            <a class="btn btn-danger mt-1" href="{% url 'createorder' customer.id %}">Place Order</a>

   
       
        </div>

    </div>
    <div class="col-md-4">

        <div class="card card-body" >
            <h5>Contact Information</h5>
            <hr>
           <p>Email: <span>{{customer.email}}</span></p>
           <p>Phone: <span>{{customer.phone}}</span></p>
   
       
        </div>

    </div>

    <div class="col-md-4">

        <div class="card card-body" >
            <h5> Total Order</h5>

            <hr>
            <h4 class="text-center">{{order_count}}</h4>
           
   
       
        </div>

    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <div class="card card-body" >
            <form action="" method="get">
                {{myFilters.form}}
                <button class="btn btn-primary" type="submit">Search</button>
            </form>
           
   
       
        </div>
    </div>
</div>
<br>
<div class="row ">

    <div class="col">

        <div class="card card-body" >
           
         <table class="table table-sm">
            <tr>
               
                <th>Product</th>
                <th>Note</th>
                <th>Date Ordered</th>
                <th>Status</th>
                <th>Update</th>
                <th>Remove</th>
       
            </tr>

            {% for o in orders   %}
            <tr>
                <td>{{o.product}}</td>
                <td>{{o.note}}</td>
                <td>{{o.date_created}}</td>
                <td>{{o.status}}</td>
                <td>
                    <a href="{% url 'updateorder' o.id %}"  class="btn btn-sm bg-info">Update</a>
                </td>
                <td>
                    <a href="{% url 'deleteorder' o.id %}" class="btn  btn-sm bg-danger">Delete</a>
                </td>
            </tr>
            
            {% endfor %}

        </table>
       
        </div>

    </div>
</div>

{% endblock  %}